body{
    padding: 0;
    margin: 0;
}
.menu{
    width:100%;
    height: 54px;
    background: #2e3944;
    margin: 0;
    border-bottom: 1px #666 solid;
    border-top: 1px #666 solid;
}
.menu_block{
    width:900px;
    margin: 0 auto;
}
.menu_part{
    float: right;
    height: 54px;
    line-height: 54px;
    vertical-align: middle;
    margin: 0 20px;
    font-size: 11px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.menu_part a{
    color: #fff;
    text-decoration: none;
}
.content{
    width:900px;
    margin: 0 auto;
}
.register{
    line-height: 100%;
    margin: 0 auto;
    border: 2px;
}
input[type="text"]:focus { outline: none; }
/** Блок левого меню */
.block_menu{
    width: 20%;
    float: left;
}
.block_menu_part{
    width:150px;
    margin:4px 7px;
    padding: 3px 10px;
    border-radius: 3px;
}
.block_menu_partition{
    width:150px;
    margin:4px 7px;
    padding: 3px 10px;
    border-radius: 3px;
    color: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.block_menu_part:hover{
    background: #f6f8fb;
}
.block_menu_part a{
    text-decoration: none;
    color: #666666;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.block_menu_part.active{
    background: #eff2f7;
}

/** Блок контента */
.block_content{
    width: 79%;
    min-height: 350px;
    float: right;
    border-left: 1px #cccccc solid;
}

/***Логин */

.login{
    width:540px;
    height: 350px;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
    border-radius: 5px;
    padding: 30px;
    background: url("/frontend/images/design/login_bg.jpg");
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -215px;
    margin-left: -290px;

}
.login_logo{
    width:100%;
    height: 150px;
    margin-bottom: 40px;
    background:url("/frontend/images/design/logo.png") no-repeat center;
}
.login_name{
    margin-left: 155px;
    height: 15px;
    color: #31B11B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.field{
    width:100%;
    float: left;
    margin: 15px 0 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.field.button{
    text-align: right;
}
.field_name{
    float: left;
    width:25%;
    text-align: right;
    padding-right: 20px;
    height: 25px;
    line-height: 28px;
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}
.field_data{
    float: left;
}
.field_data input{
    font-size: 14px;
    width:250px;
    border: 2px #cccccc solid;
    border-radius: 5px;
    padding: 5px 10px;
}
.field.button input{
    background: #2e3944;
    border: 2px #cccccc solid;
    border-radius: 4px;
    padding: 3px 6px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-right: 30px;
}
.lost_password{
    float: left;
    margin: 3px 0 0 155px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    cursor: pointer;
}
.login_error{
    width:100%;
    color: #f84f4f;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/** Предупреждение */
.black{
    position: absolute;
    width:100%;
    height: 1090px;
    background: #000;
    z-index: 100;
    opacity: 0.6;
}
.black_message{
    width:400px;
    height: 100px;
    position: absolute;
    background: #f3f6fa;
    top:50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -50px;
    z-index: 101;
}
/** Клиенты **/
.clients{
    width:100%;
    background: #f3f6fa;
    border: 0;
}
.clients tr td{
    background: #ffffff;
    padding: 3px 7px 3px 7px;
}
.clients tr:nth-child(2n) td{
    background: #f6f8fb;
}
.clients tr td:nth-child(1){
    width:20px;
}
.clients tr td:last-child{
    width:70px;
    text-align: right;
}
/** подвал */
.footer{
    width: 100%;
    height: 35px;
    bottom: 0;
    text-align: center;
}


.pagination{
    width:100%;
    height: 25px;
    margin-top: 25px;
    text-align: center;
    overflow: hidden;
}
a.page{
    padding: 3px 8px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    margin: 1px 3px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    border-radius: 3px;
    opacity: 0.6;
    background: rgba(242,246,248,1);
    background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(50%, rgba(216,225,231,1)), color-stop(51%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
    background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0 );
}
a.page:hover{
    opacity: 0.8;
}
a.page.active{
    opacity: 1;
}
a.page:active{
    opacity: 0.7;
}

.content_header{
    width: 100%;
    height: 40px;
    background: #f3f6fa;
    position: relative;
    padding-top: 10px;
    margin-bottom: 20px;
}
.content_header_name{
    float: right;
    margin-right: 40px;
}

.info{
    border: 0;
}
.info tr td{
    background: #ffffff;
    padding: 3px 7px 3px 7px;
}
.info tr:nth-child(2n) td{
    background: #f6f8fb;
}
.info tr td:nth-child(1){
    width:160px;
}
.info tr td:nth-child(2){
    width:250px;
}

.add_client{
    margin: 10px 0 8px 30px;
    text-align: right;
    font-size: 14px;
}
.hide{
    display: none;
}

#form_lost{
    display: none;
}
.position{
    position: relative;
}
.position_result{
    display: none;
    position: absolute;
    z-index: 100;
    top: 25px;
    left: 0;
    background: #ffffff;
    border: 1px #aaaaaa solid;
}
.position_result div{
    width:175px;
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
    vertical-align: middle;
    cursor: pointer;
}
.position_result div:hover{
    background: #f3f6fa;
}
.day{
    width:40px !important;
    padding: 3px 10px !important;
}
select{
    border-radius: 5px;
    padding: 3px 5px;
}
.year{
    width:55px !important;
    padding: 3px 8px !important;
}
#register{
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
#register tr td:nth-child(1){
    width:150px;
    padding-left: 15px;
}
#register tr td{
    padding-top: 3px;
    padding-bottom: 3px;
}
#register tr td input{
    width: 250px;
    padding: 3px 5px;
    border-radius: 5px;
    border: 1px #cccccc solid;
}
#register tr td:nth-child(3){
    color: #f84f4f;
}
.about{
    width:250px;
    height: 200px;
    resize: none;
    border-radius: 5px;
}

form input[type=submit]{
    margin: 5px 0 0 40px;
    padding: 4px 10px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    font-weight: bold;
}